.terminal {
  position: relative;
  border-radius: 6px;
  padding-top: 10px;
  margin-top: 1px;
  overflow: hidden;
  background-color: rgba(15, 15, 16, 0.9);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 10px 0;
  text-indent: 4px;
}

.terminal div {
  padding-bottom: 20px;
}

.terminal p {
  padding-left: 2vw;
  text-align: left;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.terminal span {
  color: #fff;
  font-weight: bold;
}

.terminal .bash {
  color: skyblue;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
}

.terminal .bash .cursor {
  -webkit-animation: blink 0.4s 0.4s infinite;
  -moz-animation: blink 0.4s 0.4s infinite;
  -o-animation: blink 0.4s 0.4s infinite;
  animation: blink 0.4s 0.4s infinite;
}


.terminal .message {
  color: #fff;
  -webkit-animation: type .5s 3s steps(20, end) forwards;
  -moz-animation: type .5s 3s steps(20, end) forwards;
  -o-animation: type .5s 3s steps(20, end) forwards;
  animation: type .5s 3s steps(20, end) forwards;
}

.terminal .message .red-heart {
  color: red;
}


.terminal .clock {
  color: #fff;
  -webkit-animation: type .5s 3.5s steps(20, end) forwards;
  -moz-animation: type .5s 3.5s steps(20, end) forwards;
  -o-animation: type .5s 3.5s steps(20, end) forwards;
  animation: type .5s 3.5s steps(20, end) forwards;
}

.terminal .clock .white-cloud {
  color: white;
  -webkit-animation: blink 1s 1s infinite;
  -moz-animation: blink 1s 1s infinite;
  -o-animation: blink 1s 1s infinite;
  animation: blink 1s 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 25em;
  }
}

@-moz-keyframes type {
  to {
    width: 25em;
  }
}

@-o-keyframes type {
  to {
    width: 25em;
  }
}

@keyframes type {
  to {
    width: 25em;
  }
}


/* 
 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to infinite
*/

@media (min-width: 1025px) {

  .terminal p {
    padding-left: 1vw;
    font-size: 20px;
  }

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .terminal p {
    padding-left: 1vw;
    font-size: 18px;
  }

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .terminal p {
    padding-left: 1vw;
    font-size: 15px;
  }

}