.container .skills {
    color: rgb(255, 255, 255);
    width: 100%;
}

.container .skills span {
    cursor: pointer;
}

.container .skills p {
    font-weight: bold;
}

.container .skills h3 {
    padding-top: 10px;
    text-transform: none;
    text-shadow: none;
    margin: 5px 0;
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
    border-bottom: 1px solid #565B73;
    padding-bottom: 5px;
}

.container .skills ul {
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10px;
}

.container .skills ul li .outside {
    height: auto;
    text-align: center;
    justify-content: center;
}

.container .skills ul li .outside .inside {
    background-color: rgb(0, 0, 0);
    border: ridge;
    border-color: gray;
}

.container .skills ul li .outside .inside img {
    height: auto;
}


/* 
 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to infinite
*/

@media (min-width: 1025px) and (max-width: 2048px) {

    .container .skills p {
        font-size: 14px;
    }

    .container .skills ul li .outside {
        width: 10vw;
    }

    .container .skills ul li .outside .inside {
        border-radius: 5px;
        padding-top: 10px;
    }

    .container .skills ul li .outside .inside:hover {
        background-color: rgb(255, 255, 255);
        color: #000;
    }

    .container .skills ul li .outside .inside img {
        width: 6vw;
    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 701px) and (max-width: 1024px) {
    .container .skills p {
        font-size: 16px;
    }

    .container .skills a {
        pointer-events: none;
        cursor: default;
    }

    .container .skills ul li .outside {
        width: 20vw;
    }

    .container .skills ul li .outside .inside img {
        width: 12vw;
    }


    .container .skills ul li .outside .inside {
        border-width: 1px;
        margin: 10px;
        padding-top: 5px;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 425px) and (max-width: 700px) {

    .container .skills p {
        font-size: 14px;
    }

    .container .skills a {
        pointer-events: none;
        cursor: default;
    }

    .container .skills ul li .outside {
        width: 25vw;
    }

    .container .skills ul li .outside .inside img {
        width: 10vw;
    }


    .container .skills ul li .outside .inside {
        border-width: 1px;
        margin: 10px;
        padding-top: 5px;
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 424px) {
    .container .skills p {
        font-size: 11px;
    }

    .container .skills a {
        pointer-events: none;
        cursor: default;
    }

    .container .skills ul li .outside {
        width: 35vw;
    }

    .container .skills ul li .outside .inside img {
        width: 20vw;
    }


    .container .skills ul li .outside .inside {
        border-width: 1px;
        margin: 10px;
        padding-top: 5px;
    }

}