.projects {
    color: rgb(255, 255, 255);
    width: 100%;
}

.projects h4 {
    font-size: 18px;
    text-transform: none;
    text-shadow: none;
    margin: 5px 0;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0;
    border-bottom: 1px solid #565B73;
    padding-bottom: 5px;
}


.container .projects .card .card-list a span svg {
    color: #FFF;
    width: 50px;
    height: 50px;
}

.container .projects .card .card-list a strong {
    flex: 1;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    margin: 10px;
}

.container .projects .card .card-list a span {
    display: block;
    background: #242424;
    width: 72px;
    height: 72px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.container .projects .card .card-list a {
    width: 100%;
    max-width: 360px;
    height: 72px;
    background: rgba(14.1%, 14.1%, 14.1%, 0.5);
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;
}


/* 
 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to infinite
*/

@media (min-width: 1025px) {

    .card {
        display: flex;
        overflow-x: scroll;
        width: 100%;
        height: 100%;
    }

    .card .card-list {
        margin: 0.81vw;
        word-wrap: break-word;
        background-color: rgb(0, 0, 0);
        border: 1px solid #e3e6f0;
        border-radius: 7px;
    }

    .card .card-list .card-header .card-header-image {
        width: 400px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .card .card-list .card-body {
        padding: 1.25rem;
    }

    .card .card-list .card-body .body-content {
        font-size: 14px;
        line-height: 1.6;
    }

    .card .card-list .card-footer {
        padding: 2vw 2vw 0vw 2vw;

    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .card::-webkit-scrollbar {
        display: none;
    }

    .card {
        display: flex;
        overflow-x: scroll;
        width: 100%;
        height: 100%;
    }

    .card .card-list {
        margin: 0.81vw;
        word-wrap: break-word;
        background-color: rgb(0, 0, 0);
        border: 1px solid #e3e6f0;
        border-radius: 9px;
    }

    .card .card-list .card-header .card-header-image {
        width: 400px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .card .card-list .card-body {
        padding: 1.25rem;
    }

    .card .card-list .card-body .body-content {
        font-size: 14px;
        line-height: 1.6;
    }

    .card .card-list .card-footer {
        padding: 2vw 2vw 0vw 2vw;

    }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .card::-webkit-scrollbar {
        display: none;
    }

    .card {
        display: flex;
        overflow-x: scroll;
        width: 100%;
        height: 100%;
    }

    .card .card-list {
        margin: 0.81vw;
        word-wrap: break-word;
        background-color: rgb(0, 0, 0);
        border: 1px solid #e3e6f0;
        border-radius: 9px;
    }

    .card .card-list .card-header .card-header-image {
        width: 400px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .card .card-list .card-body {
        padding: 1.25rem;
    }

    .card .card-list .card-body .body-content {
        font-size: 14px;
        line-height: 1.6;
    }

    .card .card-list .card-footer {
        padding: 2vw 2vw 0vw 2vw;

    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .card::-webkit-scrollbar {
        display: none;
    }

    .card {
        display: flex;
        overflow-x: scroll;
        width: 100%;
        height: 100%;
    }

    .card .card-list {
        margin: 2vw;
        word-wrap: break-word;
        background-color: rgb(0, 0, 0);
        border: 1px solid #e3e6f0;
        border-radius: 9px;
    }

    .card .card-list .card-header .card-header-image {
        width: 220px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .card .card-list .card-body {
        padding: 1.25rem;
    }

    .card .card-list .card-body .body-content {
        font-size: 12px;
        line-height: 1.6;
    }

    .card .card-list .card-footer {
        padding: 2vw 2vw 0vw 2vw;

    }


}